.page {
    background: #000;
    color: #fff;
    font-family: 'inter', Arial, Helvetica, sans-serif;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
}

button {
    opacity: 1;
    transition: opacity .15s;
}
button:hover {
    opacity: .6;
    cursor: pointer;
}