.element__like-btn {
    background: url(../../../images/like.svg) 100% 100% no-repeat;
    width: 22px;
    height: 19px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    border-style: none;
    opacity: 1;
    transition: opacity .15s;
}

.element__like-btn:hover {
    opacity: .5;
    cursor: pointer;
}