.profile {
    display: flex;
    max-width: 880px;
    margin: 36.25px auto 0;
    align-items: center;
}
@media screen and (max-width: 879px) {
    .profile {
        flex-direction: column;
    }
}
