.element__trash-btn {
    background: url(../../../images/trash.svg) 100% 100% no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none;
    width: 18px;
    height: 19px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity .15s;
    padding: 0;
}

.element__trash-btn:hover {
    opacity: 0.5;
}