.profile__avatar {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity .25s ease;
    object-fit: cover;
}
@media screen and (max-width: 879px) {
    .profile__avatar {
        margin: 0;
    }
}

.profile__avatar:hover {
    opacity: .2;
}

.profile__overlay-container {
    position: relative;
    background-color: #000 80%;
    background: url(../../../images/VectorAvatar.svg) 100% 100% no-repeat;
    background-position: center;
    margin-right: 30px;
}

.profile__overlay {
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}